/* Navbar.css */
.navbar1 {
    background-color: white;
    color: white;
    padding-top: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .navbar2 {
    background-color: white;
    color: white;
    /* padding: 15px; */
    padding-left: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  
  .nav-list {
    background-color: beige;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    
    font-size: 2.2vh;
  }
  .nav-list2 {
    background-color: pink;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    /* align-self: flex-end; */
    font-size: 2.2vh;
  }
  
  .nav-item {
    color: black;
    padding: 0 10px;
  }
  
  .nav-item:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  body{
    margin: 0;
  }
  